<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Footer</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div th:fragment="footerFragment">
		<footer class="text-white py-5" style="background-image: url('/images/images.jpg'); background-size: contain;">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<p>
							Sous le signe de Java, trois ninja ont codé, Jean-Paul, Younous et Ibrahim, dans l'ombre ils ont œuvré.<br>
							Avec jutsu et clavier, ce site ils ont façonné,<br>
							© C'est notre œuvre, fallait le faire c'est noté !
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>

</html>
